<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Agenda <%= urlPath %>
    </title>
    <link rel="stylesheet" href="bs.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style type="text/css">
        .css-serial {
            counter-reset: serial-number;
            /* Set the serial number counter to 0 */
        }

        .css-serial td:first-child:before {
            counter-increment: serial-number;
            /* Increment the serial number counter */
            content: counter(serial-number);
            /* Display the counter */
        }
    </style>
</head>

<body>
      <!-- navbar -->
      <div class="d-flex flex-column mb-4">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Agenda</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
                        </li>
                    </ul>


                    <ul class="navbar-nav ms-auto">

                        <% if(IsAdmin !='guest' ) {%>
                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard/changepass">Ganti Password</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard/register">Add User</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard/user">List User</a>
                            </li>
                            <% } %>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">


        <!-- Dropdown Menu -->





        <div class="container h-100 d-flex-inline">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-10 col-md-8 col-lg-6">

                </div>
            </div>

            <!-- <div class="container mt-3 w-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-10 col-md-8 col-lg-6">
                    
                    <a href="/dashboard/month/agustus"><button type="button"
                            class="btn btn-primary">Agustus</button></a>
                    <a href="/dashboard/month/september"><button type="button"
                            class="btn btn-primary">September</button></a>
                    <a href="/dashboard/month/oktober"><button type="button"
                            class="btn btn-primary">Oktober</button></a>
                    <a href="/dashboard/month/november"><button type="button"
                            class="btn btn-primary">November</button></a>


                </div>
            </div>
        </div>

        <div class="container mt-3 w-25">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-10 col-md-8 col-lg-6">
                    <a href="/dashboard/month/desember"><button type="button"
                            class="btn btn-primary">Desember</button></a>

                </div>
            </div>
        </div> -->





            <!-- Reminder -->



            <!-- AKhir Reminder -->

            <div class="container">
                <div class="row">
                    <div class="col-sm-3 d-flex-inline">

                        <form action="/dashboard/tanggal/year" method="post">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">TAHUN</label>
                                <select class="form-select" id="inputGroupSelect01" name="year">
                                    <option selected value="">Pilih...</option>
                                    <option value="2022">
                                        2022
                                    </option>
                                    <option value="2023">
                                        2023
                                    </option>
                                    <option value="2024">
                                        2024
                                    </option>
                                    <option value="2025">
                                        2025
                                    </option>

                                    <option value="2026">
                                        2026
                                    </option>
                                    <option value="2027">
                                        2027
                                    </option>
                                    <option value="2028">
                                        2028
                                    </option>
                                    <option value="2029">
                                        2029
                                    </option>
                                    <option value="2030">
                                        2030
                                    </option>

                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect02">BULAN</label>
                                <select class="form-select" id="inputGroupSelect02" name="month">
                                    <option selected value="">Pilih...</option>

                                    <option value="januari">
                                        Januari
                                    </option>
                                    <option value="februari">
                                        Februari
                                    </option>
                                    <option value="maret">
                                        Maret
                                    </option>
                                    <option value="april">
                                        April
                                    </option>
                                    <option value="mei">
                                        Mei
                                    </option>
                                    <option value="juni">
                                        Juni
                                    </option>
                                    <option value="juli">
                                        Juli
                                    </option>
                                    <option value="agustus">
                                        Agustus
                                    </option>
                                    <option value="september">
                                        September
                                    </option>
                                    <option value="oktober">
                                        Oktober
                                    </option>
                                    <option value="november">
                                        November
                                    </option>
                                    <option value="desember">
                                        Desember
                                    </option>



                                        </select>
                                    </div>

                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="inputGroupSelect02">CATEGORY</label>
                                        <select class="form-select" id="inputGroupSelect02" name="category">
                                            <option selected value="">Pilih...</option>

                                            <option value="WORK">
                                                WORK
                                            </option>
                                            <option value="PERSONAL">
                                                PERSONAL
                                            </option>
                                            <option value="L & D">
                                                L & D
                                            </option>
                                            </select>
                                            </div>

                                            <div class="input-group mb-3">
                                                <label class="input-group-text" for="inputGroupSelect02">STATUS</label>
                                                <select class="form-select" id="inputGroupSelect02" name="status">
                                                    <option selected value="">Pilih...</option>
                
                                                    <option value="DONE">
                                                        DONE
                                                    </option>
                                                    <option value="ONGOING">
                                                        ON-GOING
                                                    </option>
                                                    <option value="NOTYET">
                                                        NOT-YET
                                                    </option>
                                                    <option value="DELAY">
                                                        DELAY
                                                    </option>
                                                    <option value="CANCEL">
                                                        CANCEL
                                                    </option>
                                                </select>
                                            </div>


                                    <button class="btn btn-primary">Cari..</button>
                        </form>










                        <!-- versi lama -->
                        <!-- <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                BULAN
                            </button>
                            <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="/dashboard/month/januari">Januari</a></li>
                                <li><a class="dropdown-item" href="/dashboard/month/februari">Februari</a></li>
                                <li><a class="dropdown-item" href="/dashboard/month/maret">Maret</a></li>
                                <li><a class="dropdown-item" href="/dashboard/month/april">April</a></li>
                                <li><a class="dropdown-item" href="/dashboard/month/mei">Mei</a></li>
                                <li><a class="dropdown-item" href="/dashboard/month/juni">Juni</a></li>
                                <li><a class="dropdown-item" href="/dashboard/month/juli">Juli</a></li>
                                <li><a class="dropdown-item" href="/dashboard/month/agustus">Agustus</a></li>
                                <li><a class="dropdown-item" href="/dashboard/month/september">September</a></li>
                                <li><a class="dropdown-item" href="/dashboard/month/oktober">Oktober</a></li>
                                <li><a class="dropdown-item" href="/dashboard/month/november">November</a></li>
                                <li><a class="dropdown-item" href="/dashboard/month/desember">Desember</a></li>
                            </ul>
                        </div> -->

                        <!-- Status -->


                    </div>
                </div>
            </div>



            <div class="container">
                <div class="row">
                    <div class="col mt-3 d-flex-inline">
                        <a href="/dashboard/status/done"><button type="button" class="btn btn-success">DONE</button></a>
                        <a href="/dashboard/status/ongoing"><button type="button"
                                class="btn btn-warning">ON-GOING</button></a>
                        <a href="/dashboard/status/notyet"><button type="button" class="btn btn-secondary">NOT
                                YET</button></a>
                        <a href="/dashboard/status/delay"><button type="button"
                                class="btn btn-primary">DELAY</button></a>
                        <a href="/dashboard/status/cancel"><button type="button"
                                class="btn btn-danger">CANCEL</button></a>
                    </div>
                </div>
            </div>

    <div class="container">

        <h2 class="d-flex justify-content-center mt-4">Daftar Agenda Bulan <%= urlPath %>
        </h2>
        <p><a href="/dashboard">Kembali Ke Dashboard</a></p>
        <% if(success && success.length) {%>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= success %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
                <% if(bulan) {%>
                    <table
                        class="table table-dark table-striped table-bordered border-primary table-sm mb-5 table-hover css-serial">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center align-middle">Date</th>
                                <th scope="col" class="text-center align-middle">Month</th>
                                <th scope="col" class="text-center align-middle">Time</th>
                                <th scope="col" class="text-center align-middle">Daily Agenda</th>
                                <th scope="col" class="text-center align-middle">Category</th>
                                <th scope="col" class="text-center align-middle">STATUS</th>
                                <% if(IsAdmin != 'guest') {%> 

                                <th scope="col" class="text-center align-middle">Edit</th>
                                <th scope="col" class="text-center align-middle">Hapus</th>
                                <% } %> 
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let agenda of bulan) {%>
                                <tr>
                                    <th scope="row" class="text-center align-middle">
                                        <%= agenda.date %>
                                    </th>
                                    <td class="text-center align-middle">
                                        <%= agenda.month %>
                                    </td>
                                    <td class="text-center align-middle">
                                        <%= agenda.time %>
                                    </td>
                                    <td class="text-center align-middle">
                                        <%= agenda.dailyAgenda %>
                                    </td>
                                    <td class="text-center align-middle">
                                        <%= agenda.category %>
                                    </td>
                                    <td class="text-center align-middle">
                                        <% if(agenda.hasil=='DONE' ) {%>
                                            <button class="btn-success">
                                                <%= agenda.hasil %>
                                            </button>
                                            <% }else if(agenda.hasil=='DELAY' ) {%>
                                                <button class="btn-primary delay">
                                                    <%= agenda.hasil %>
                                                </button>
                                                <% }else if(agenda.hasil=='CANCEL' ) {%>
                                                    <button class="btn-danger">
                                                        <%= agenda.hasil %>
                                                            <% }else if(agenda.hasil=='NOT YET' ) {%>
                                                                <button class="btn-secondary">
                                                                    <%= agenda.hasil %>
                                                                        <% }else if(agenda.hasil=='ON-GOING' ) {%>
                                                                            <button class="btn-warning">
                                                                                <%= agenda.hasil %>
                                                                                    <% } %>
                                    </td>


                                <% if(IsAdmin != 'guest') {%> 

                                    <td class="text-center align-middle">
                                        <!-- <div class="d-flex"> -->
                                        <a href="/dashboard/edit/<%= agenda.id %>"><button
                                                class="btn btn-info">Edit</button></a>
                                        <!-- <div class="invisible">...</div> -->
                                    </td>
                                    <td class="text-center align-middle">
                                        <form action="/dashboard/<%= agenda.id %>?_method=delete" method="post">
                                            <button class="btn btn-danger">Hapus</button>
                                        </form>
                                    </td>
                                    <% } %> 
    </div>

    </tr>
    <% } %>
        </tbody>
        </table>
        <% } %>

            <!-- Tambah Data Baru -->






            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
            <script src="counter.js"></script>


</body>

</html>